<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueUnitTestSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag webpack_asset_path('application.js'), media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag webpack_asset_path('application.js'), 'data-turbolinks-track': 'reload' %>
  </body>
</html>
